.aboutContainer {
  display: grid;
  grid-template-columns: repeat(20, 3rem);
  grid-template-rows: repeat(10, 3rem);
  justify-content: center;
  gap: 1rem;
}

.imgBox {
  position: relative;
  grid-row: 2 / 6;
  grid-column: 4 / 8;
}

.txtBox {
  position: relative;
  grid-row: 2 / 6;
  grid-column: 8 / 15;
  
}

.iconCon {
  grid-row: 6;
  grid-column: 4 / 8;
}

.iconsBox {
  display: grid;
  grid-template-columns: repeat(5, 3rem);
  grid-template-rows: repeat(1, 3rem);
  justify-content: center;
  gap: 1rem;
}

.icon {
  color: #242561;
  transition: all .4s linear;
}

.icon:hover{
  color: red;
}


